.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e7e7e8;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.01), 0 1px 2px 0 rgba(0,0,0,.02);
  margin: auto;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.inputContainer {
  position: relative;
  padding-block: 0 10px;
  margin-top: 20px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  color: efeeed;
  transition: .3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: -1;
}

.labelDirty {
  font-size: 10px;
  top: -12px;
}

.input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #efeeed;
  color: #efeeed;
  display: block;
  height: 30px;
  width: 100%;
  outline: none;
  transition: .3s;
  z-index: 1;

  &:focus {
    color: #333;
  }
}

.inputError {
  border-color: #eb4a46;
}

.errorMessage {
  display: block;
  color: #eb4a46;
  font-size: 10px;
}

.button {
  background: #00c8b3;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  margin-top: 40px;
  transition: .3s;
  width: 100%;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    color: #dddcdc;
    background: #f6f6f6;
  }
}

.buttonSpinner {
  cursor: not-allowed;

  &:disabled {
    color: #fff;
    background: #00c8b3;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.cancelButton {
  background: transparent;
  border: none;
  color: #00c8b3;
  cursor: pointer;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: underline;
  transition: .3s;

  &:hover {
    opacity: .7;
  }
}

@media (max-width: 640px) {
  .container {
    min-height: 0;
  }

  .card {
    margin-top: 10px;
  }
}