.container {
  display: block;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.usersList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.userCard {
  width: calc(50% - 10px);
}

.linkAddUser {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #00c8b3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 30px;
}

@media (max-width: 640px) {
  .userCard {
    width: 100%;
  }
}